<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,700,900&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/squareSolver/static/css/lib.css">
    <link rel="stylesheet" href="/squareSolver/static/css/style.css">
    <title>Решала</title>
</head>
<body>
<main>
    <div class="container">
        <div class="caption">
            <h1 class="title">Решала
                <span class="js-status"></span>
            </h1>
            <span class="second-text">квадратных уравнений</span>
        </div>
        <form action="solve.php" method="get">
            <fieldset>
                <input required type="text" name="a" class="inpt" id="a" placeholder="a"
                       value="{{ value_a }}">
                <label for="a">x <sup>2</sup> + </label>
                <input required type="text" name="b" class="inpt" id="b" placeholder="b"
                       value="{{ value_b }}">
                <label for="b">x + </label>
                <input required  type="text" name="c" class="inpt" id="c" placeholder="c"
                       value="{{ value_c }}">
                <label for="c"> = 0</label>
                <div class="solver__btn">
                    <button class="md-btn md-btn-raised ">Посчитать</button>
                    <a class="md-btn md-btn-raised solver__btn_reset" href="/">Cбросить</a>
                </div>
            </fieldset>
        </form>
        <if.note>
            <hr class="delimiter">
            <div class="solution">
                <h2 class="solution__note">Ответ</h2>
                <span class="second-text">{{ note }}</span>
            </div>
        </if.note>
        <table class="solution-table" cellpadding="0" cellspacing="0">
            <if.root_1>
                <tr>
                    <td>x<sub>1</sub></td>
                    <td>{{ root_1 }}</td>
                </tr>
            </if.root_1>
            <if.root_2>
                <tr>
                    <td>x<sub>2</sub></td>
                    <td>{{ root_2 }}</td>
                </tr>
            </if.root_2>
        </table>


    </div>
</main>
</body>
</html>
