.inpt {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    padding: 0 12px;
    font-size: 15px;
    line-height: normal;
    margin: 0;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80px;
    transition: all 0.25s;
}

.inpt:hover {
    border-color: rgba(0, 0, 0, 0.24);
    transition: all 0.3s;
}

.inpt:focus {
    border: 1px solid rgba(0, 0, 0, 0.48);
    outline: none;
}

.inpt[readonly] {
    background-color: #edeef0;
}

.md-btn {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto medium", sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: #2196f3;
    color: #fff;
    outline: 0;
}

.md-btn:focus {
    background: #0b76cc;
}

.md-btn-raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.md-btn-raised:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
