html {
    min-height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background: #fafafa;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 20px;
    max-width: 600px;
    max-height: 600px;
    min-height: 300px;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

fieldset {
    border: none;
    white-space: nowrap;
}

.caption {
    text-align: center;
    margin-bottom: 1em;
}

.caption h1 {
    margin-bottom: 0;
}

.solution {
    text-align: center;
}

.solution h2 {
    margin-bottom: 0;
}

.second-text {
    text-align: center;
    color: #6f6f6f;
}

.solution-table {
    margin: 1em auto;
    font-size: 16px;
}

.solution-table tr td {

    padding: 6px;
}

.solution-table tr:first-child td {
    border-bottom: 1px solid #6f6f6f;
}

.solution-table tr td:first-child {
    border-right: 1px solid #6f6f6f;
}

.delimiter {
    margin: 0 20px;
}

.solver__btn {
    display: flex;
    margin: 1em auto;
    justify-content: center;
}
.solver__btn_reset {
    margin-left: 10px;
    background: #6f6f6f;
}
